<template>
  <VApp>
    <AppNav
      v-if="!isLoginPage"
      v-model="showDrawer"
    />
    <AppTitleBar
      v-if="!isLoginPage"
      v-model="showDrawer"
    />
    <VContent>
      <router-view />
    </VContent>
  </VApp>
</template>

<script>
import AppNav from '@/components/AppNav'
import AppTitleBar from '@/components/AppTitleBar'

export default {
  name: 'Exia',

  components: {
    AppNav,
    AppTitleBar
  },

  data () {
    return {
      showDrawer: false
    }
  },

  computed: {
    isLoginPage () {
      return this.$route.name === 'login'
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
</style>

