<template>
  <VDialog
    v-model="isShown"
    width="640px"
  >
    <template #activator="{ on }">
      <slot :on="on" />
    </template>

    <VCard>
      <VCardTitle>
        <h3 class="headline">
          {{ title }}
        </h3>
      </VCardTitle>
      <VCardText>
        <form>
          <VTextField
            :disabled="isEditMode"
            label="ID"
            v-model="nodeId"
          />
          <VTextField
            label="Name"
            v-model="nodeName"
          />
          <VTextField
            label="Host"
            v-model="nodeHost"
          />
        </form>
      </VCardText>
      <VCardActions>
        <VSpacer />
        <VBtn
          :disabled="$v.$invalid"
          color="primary"
          @click="handleSubmit"
        >
          Submit
        </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import { SET_NODE_FORM, RESET_NODE_FORM } from '@/stores/Node/nodeTypes'

const validations = {
  nodeId: { required },
  nodeName: { required },
  nodeHost: { required }
}

export default {
  data () {
    return {
      isEditMode: false,
      isShown: false
    }
  },

  computed: {
    ...mapGetters({
      form: 'nodeForm'
    }),

    title () {
      return this.isEditMode ? 'Edit Node' : 'Add New Node'
    },

    nodeId: {
      get () {
        return this.form.id
      },
      set (id) {
        this.updateForm({ id })
      }
    },

    nodeName: {
      get () {
        return this.form.name
      },
      set (name) {
        this.updateForm({ name })
      }
    },

    nodeHost: {
      get () {
        return this.form.host
      },
      set (host) {
        this.updateForm({ host })
      }
    }
  },

  validations,

  watch: {
    isShown: {
      handler (val) {
        if (!val) {
          this.resetForm()
          this.isEditMode = false
        }
      }
    }
  },

  methods: {
    ...mapMutations({
      updateForm: SET_NODE_FORM,
      resetForm: RESET_NODE_FORM
    }),

    ...mapActions({
      createNode: 'createNode',
      updateNode: 'updateNode'
    }),

    toggleEdit () {
      this.isEditMode = true
      this.isShown = true
    },

    async handleSubmit () {
      if (!this.isEditMode) {
        await this.createNode()
      } else {
        await this.updateNode()
      }

      this.$emit('success')
      this.isShown = false
    }
  }
}
</script>
