<template>
  <VDialog
    v-model="isShown"
    width="768px"
  >
    <template #activator="{ on }">
      <slot :on="on" />
    </template>

    <VCard>
      <VCardTitle>
        <h3 class="headline">
          {{ title }}
        </h3>
      </VCardTitle>
      <VCardText>
        <form>
          <VLayout>
            <VFlex
              xs5
              class="pr-2"
            >
              <VSelect
                label="Method"
                v-model="routeMethod"
                :items="methodList"
              />
            </VFlex>
            <VFlex
              xs7
              class="pl-2"
            >
              <VTextField
                :disabled="isEditMode"
                label="ID"
                v-model="routeId"
              />
            </VFlex>
          </VLayout>
          <VLayout>
            <VFlex
              xs5
              class="pr-2"
            >
              <VTextField
                label="Prefix"
                v-model="routePrefix"
              />
            </VFlex>
            <VFlex
              xs7
              class="pl-2"
            >
              <VTextField
                label="Path"
                v-model="routePath"
              />
            </VFlex>
          </VLayout>
          <VLayout>
            <VFlex
              xs5
              class="pr-2"
            >
              <NodeProvider ref="nodeProvider">
                <VSelect
                  slot-scope="{ items }"
                  label="Node"
                  v-model="routeNodeId"
                  :items="items"
                  item-value="id"
                  item-text="name"
                />
              </NodeProvider>
            </VFlex>
            <VFlex
              xs7
              class="pl-2"
            >
              <VTextField
                label="Node Path"
                v-model="routeNodePath"
              />
            </VFlex>
          </VLayout>
          <VTextarea
            label="Description"
            v-model="routeDescription"
          />
          <HookTypeProvider ref="hookTypeProvider">
            <VList slot-scope="{ items }">
              <VListGroup
                v-for="item in items"
                :key="item"
              >
                <template #activator>
                  <VListTile>
                    <VListTileContent>
                      {{ item }}
                    </VListTileContent>
                  </VListTile>
                </template>

                <div class="text-xs-right">
                  <VBtn
                    small
                    class="mb-4"
                    @click="addHook(item)"
                  >
                    Add New Hook
                  </VBtn>
                </div>
                <VLayout
                  v-for="hook in hookMap[item]"
                  :key="hook.name"
                  class="px-3"
                  d-flex
                  align-center
                >
                  <VFlex
                    xs4
                    pr-2
                  >
                    <VTextField
                      type="number"
                      label="Sequence"
                      v-model.number="hook.sequence"
                    />
                  </VFlex>
                  <VFlex
                    xs6
                    px-2
                  >
                    <HookProvider>
                      <VSelect
                        slot-scope="{ items }"
                        label="Hook"
                        v-model="hook.name"
                        :items="items[item]"
                        item-value="name"
                        item-text="name"
                        @change="handleUpdateHooks"
                      />
                    </HookProvider>
                  </VFlex>
                  <VFlex
                    xs1
                    pl-2
                  >
                    <VBtn
                      small
                      @click="removeHook(item, hook)"

                    >
                      Remove
                    </VBtn>
                  </VFlex>
                </VLayout>
              </VListGroup>
            </VList>
          </HookTypeProvider>
        </form>
      </VCardText>
      <VCardActions>
        <VSpacer />
        <VBtn
          :disabled="$v.$invalid"
          color="primary"
          @click="handleSubmit"
        >
          Submit
        </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import NodeProvider from '@/components/Providers/NodeProvider'
import HookTypeProvider from '@/components/Providers/HookTypeProvider'
import HookProvider from '@/components/Providers/HookProvider'
import { required } from 'vuelidate/lib/validators'
import { SET_ROUTE_FORM, RESET_ROUTE_FORM } from '@/stores/Route/routeTypes'

const validations = {
  routeId: { required },
  routeNodeId: { required },
  routeMethod: { required },
  routePath: { required },
  routeNodePath: { required },
  routeDescription: { required }
}

export default {
  components: {
    NodeProvider,
    HookTypeProvider,
    HookProvider
  },

  data () {
    return {
      isEditMode: false,
      isShown: false,
      methodList: [
        'GET',
        'POST',
        'PATCH',
        'PUT',
        'DELETE',
        'HEAD',
        'OPTIONS'
      ],
      hookMap: {
        onRequest: [],
        onResponse: []
      }
    }
  },

  computed: {
    ...mapGetters({
      form: 'routeForm'
    }),

    title () {
      return this.isEditMode ? 'Edit Route' : 'Add New Route'
    },

    routeId: {
      get () {
        return this.form.id
      },
      set (id) {
        this.updateForm({ id })
      }
    },

    routeNodeId: {
      get () {
        return this.form.nodeId
      },
      set (nodeId) {
        this.updateForm({ nodeId })
      }
    },

    routeMethod: {
      get () {
        return this.form.method
      },
      set (method) {
        this.updateForm({ method })
      }
    },

    routePrefix: {
      get () {
        return this.form.prefix
      },
      set (prefix) {
        this.updateForm({ prefix })
      }
    },

    routePath: {
      get () {
        return this.form.path
      },
      set (path) {
        this.updateForm({ path })
      }
    },

    routeNodePath: {
      get () {
        return this.form.nodePath
      },
      set (nodePath) {
        this.updateForm({ nodePath })
      }
    },

    routeDescription: {
      get () {
        return this.form.description
      },
      set (description) {
        this.updateForm({ description })
      }
    },

    routeHooks: {
      get () {
        return this.form.hooks
      },
      set (hooks) {
        this.updateForm({ hooks: [...hooks] })
      }
    }
  },

  validations,

  watch: {
    isShown: {
      handler (val) {
        if (!val) {
          this.resetForm()

          this.hookMap = {
            onRequest: [],
            onResponse: []
          }

          this.isEditMode = false
        }
      }
    }
  },

  methods: {
    ...mapMutations({
      updateForm: SET_ROUTE_FORM,
      resetForm: RESET_ROUTE_FORM
    }),

    ...mapActions({
      createRoute: 'createRoute',
      updateRoute: 'updateRoute'
    }),

    toggleEdit () {
      this.isEditMode = true
      this.handleMapHooks()
      this.isShown = true
    },

    addHook (type) {
      this.hookMap[type] = [
        ...this.hookMap[type],
        {
          sequence: 0,
          hook: type,
          name: ''
        }
      ]

      this.handleUpdateHooks()
    },

    removeHook (type, hook) {
      this.hookMap[type] = this.hookMap[type].filter(item => item !== hook)

      this.handleUpdateHooks()
    },

    handleUpdateHooks () {
      this.routeHooks = Object.keys(this.hookMap)
        .reduce((carry, item) => {
          carry = [...carry, ...this.hookMap[item]]

          return carry
        }, [])
        .filter(item => item.name)
    },

    handleMapHooks () {
      this.hookMap = this.routeHooks.reduce((carry, item) => {
        carry[item.hook] = [...carry[item.hook], item]

        return carry
      }, {
        onRequest: [],
        onResponse: []
      })
    },

    async handleSubmit () {
      if (!this.isEditMode) {
        await this.createRoute()
      } else {
        await this.updateRoute()
      }

      this.$emit('success')
      this.isShown = false
    }
  }
}
</script>
