<template>
  <VContainer
    fluid
    fill-height
  >
    <VLayout
      align-center
      justify-center
    >
      <VFlex
        md4
        xs12
      >
        <VCard class="elevation-8">
          <VToolbar flat>
            <VToolbarTitle>Exia r2</VToolbarTitle>
            <VSpacer />
            <VProgressCircular
              v-if="loading"
              :indeterminate="true"
              :size="28"
            />
          </VToolbar>
          <VCardText>
            <VAlert
              v-if="error"
              :value="true"
              type="error"
              class="mb-4"
            >
              {{ error.message }}
            </VAlert>
            <form
              @submit="submitHandler"
              @keypress.enter="submitHandler"
            >
              <VTextField
                v-model="form.username"
                label="Username"
                :disabled="loading"
              />
              <VTextField
                v-model="form.password"
                type="password"
                label="Password"
                :disabled="loading"
              />
            </form>
          </VCardText>
          <VCardActions>
            <VBtn
              color="primary"
              large
              block
              :disabled="loading || $v.form.$invalid"
              @click="submitHandler"
            >
              Sign In
            </VBtn>
          </VCardActions>
        </VCard>
      </VFlex>
    </VLayout>
  </VContainer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'Login',

  data () {
    return {
      form: {
        username: '',
        password: ''
      }
    }
  },

  computed: {
    ...mapGetters({
      loading: 'isAuthenticating',
      error: 'authenticatingError'
    })
  },

  validations: {
    form: {
      username: { required },
      password: { required }
    }
  },

  methods: {
    ...mapActions({
      authenticate: 'authenticate'
    }),

    async submitHandler () {
      await this.authenticate(this.form)

      if (!this.error) {
        this.$router.push({ name: 'dashboard' })
      }
    }
  }
}
</script>
