<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <VLayout
      justify-space-between
      align-center
      class="mb-4"
    >
      <h2 class="headline">
        Nodes
      </h2>
      <VFlex class="text-xs-right">
        <NodeDialog
          ref="nodeDialog"
          @success="refreshList"
        >
          <VBtn
            slot-scope="{ on }"
            color="primary"
            v-on="on"
          >
            Add New Node
          </VBtn>
        </NodeDialog>
      </VFlex>
    </VLayout>
    <NodeProvider ref="nodeProvider">
      <div slot-scope="{ loading, items }">
        <VLayout
          v-if="loading"
          align-center
        >
          <VProgressCircular
            :indeterminate="true"
          />
        </VLayout>
        <VDataIterator
          v-if="!loading"
          :items="items"
          content-tag="v-layout"
          row
          wrap
          align-center
          class="normalize-margin"
        >
          <template #item="props">
            <VFlex
              md4
              px-2
              pb-3
            >
              <NodeCard
                :node="props.item"
                @edit="handleEditNode"
                @delete="handleDeleteNode"
              />
            </VFlex>
          </template>
        </VDataIterator>
      </div>
    </NodeProvider>
  </PageWrapper>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import NodeProvider from '@/components/Providers/NodeProvider'
import NodeCard from '@/components/NodeCard'
import NodeDialog from '@/components/Dialogs/NodeDialog'
import { SET_NODE_FORM } from '@/stores/Node/nodeTypes'

const breadcrumbs = [
  {
    text: 'Dashboard',
    to: {
      name: 'dashboard'
    },
    exact: true
  },
  {
    text: 'Nodes',
    disabled: true
  }
]

export default {
  components: {
    NodeProvider,
    NodeCard,
    NodeDialog
  },

  data () {
    return {
      breadcrumbs
    }
  },

  computed: {
    ...mapGetters({
      deletingError: 'deletingNodeError',
      isDeleting: 'isDeletingNode'
    })
  },

  methods: {
    ...mapMutations({
      updateForm: SET_NODE_FORM
    }),

    ...mapActions({
      deleteNode: 'deleteNode'
    }),

    handleEditNode (node) {
      this.updateForm({
        id: node.id,
        name: node.name,
        host: node.host
      })

      this.$refs.nodeDialog.toggleEdit()
    },

    async refreshList () {
      await this.$refs.nodeProvider.fetch()
    },

    async handleDeleteNode (node) {
      await this.deleteNode(node.id)

      if (!this.deletingError) {
        await this.refreshList()
      }
    }
  }
}
</script>

<style lang="scss">
.inline-flex {
  display: inline-flex !important;
}

.normalize-margin {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
</style>
