<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <VLayout
      justify-space-between
      align-center
      class="mb-4"
    >
      <h2 class="headline">
        Routes
      </h2>
      <VFlex xs4>
        <VLayout>
          <NodeProvider ref="nodeProvider">
            <VSelect
              slot-scope="{ items }"
              label="Node"
              v-model="filter.nodeId"
              :items="[{ id: null, name: 'All' }, ...items]"
              item-value="id"
              item-text="name"
              hide-details
              class="mr-2"
            />
          </NodeProvider>
          <RouteDialog
            ref="routeDialog"
            @success="refreshTable"
          >
            <VBtn
              slot-scope="{ on }"
              color="primary"
              class="mr-0 mb-0"
              v-on="on"
            >
              Add New Route
            </VBtn>
          </RouteDialog>
        </VLayout>
      </VFlex>
    </VLayout>
    <VCard>
      <RouteProvider ref="routeProvider">
        <VDataTable
          v-if="!loading"
          slot-scope="{ loading }"
          :headers="tableHeaders"
          :items="filteredItems"
        >
          <template #items="props">
            <td width="10%">{{ props.item.method }}</td>
            <td width="10%">{{ props.item.prefix }}</td>
            <td width="35%">{{ props.item.path }}</td>
            <td width="15%">{{ props.item.node.name }}</td>
            <td class="text-xs-right">
              <VBtn
                icon
                small
                @click="handleEditRoute(props.item)"
              >
                <VIcon small>
                  edit
                </VIcon>
              </VBtn>
              <VBtn
                icon
                small
                @click="handleDeleteRoute(props.item)"
              >
                <VIcon small>
                  delete
                </VIcon>
              </VBtn>
            </td>
          </template>
        </VDataTable>
      </RouteProvider>
    </VCard>
  </PageWrapper>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import NodeProvider from '@/components/Providers/NodeProvider'
import RouteProvider from '@/components/Providers/RouteProvider'
import RouteDialog from '@/components/Dialogs/RouteDialog'
import { SET_ROUTE_FORM } from '@/stores/Route/routeTypes'

const breadcrumbs = [
  {
    text: 'Dashboard',
    to: {
      name: 'dashboard'
    },
    exact: true
  },
  {
    text: 'Routes',
    disabled: true
  }
]

export default {
  components: {
    NodeProvider,
    RouteProvider,
    RouteDialog
  },

  data () {
    return {
      breadcrumbs,
      filter: {
        nodeId: null
      },
      tableHeaders: [
        {
          value: 'method',
          text: 'Method'
        },
        {
          value: 'prefix',
          text: 'Prefix'
        },
        {
          value: 'path',
          text: 'Path'
        },
        {
          value: 'node.name',
          text: 'Node'
        },
        {
          value: null,
          text: 'Actions',
          sortable: false,
          align: 'right'
        }
      ]
    }
  },

  computed: {
    ...mapGetters({
      items: 'routeList'
    }),

    filteredItems () {
      const items = this.items

      if (!this.filter.nodeId) return items

      return items.filter(item => item.node.id === this.filter.nodeId)
    }
  },

  methods: {
    ...mapMutations({
      updateForm: SET_ROUTE_FORM
    }),

    ...mapActions({
      deleteRoute: 'deleteRoute'
    }),

    async refreshTable () {
      await this.$refs.routeProvider.fetch()
    },

    handleEditRoute (route) {
      this.updateForm({
        id: route.id,
        nodeId: route.node.id,
        method: route.method,
        prefix: route.prefix,
        path: route.path,
        nodePath: route.nodePath,
        description: route.description,
        hooks: route.hooks ? [...route.hooks] : []
      })

      this.$refs.routeDialog.toggleEdit()
    },

    async handleDeleteRoute (route) {
      await this.deleteRoute(route.id)
      await this.refreshTable()
    }
  }
}
</script>
