<template>
  <VToolbar
    app
    fixed
    dark
    color="primary"
  >
    <VToolbarSideIcon @click.native="toggleDrawer">
      <VIcon>menu</VIcon>
    </VToolbarSideIcon>
    <span class="title ml-3 mr-5">
      {{ appName }}
    </span>
    <VSpacer />
    <VMenu
      open-on-hover
      bottom
      offset-y
    >
      <VBtn
        slot="activator"
        flat
      >
        <VIcon class="mr-2">
          account_circle
        </VIcon>
        {{ userName }}
      </VBtn>
      <VList>
        <VListTile @click="logoutHandler">
          <VListTileContent>
            <VListTileTitle>Keluar</VListTileTitle>
          </VListTileContent>
        </VListTile>
      </VList>
    </VMenu>
  </VToolbar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppTitleBar',

  props: {
    value: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    ...mapGetters({
      user: 'authUser'
    }),

    userName () {
      return this.user.name
    },

    appName () {
      return 'Exia'
    }
  },

  methods: {
    ...mapActions({
      signOut: 'signOut'
    }),

    toggleDrawer () {
      this.$emit('input', !this.value)
    },

    async logoutHandler () {
      await this.signOut()

      this.$router.push({ name: 'login' })
    }
  }
}
</script>
