<template>
  <VCard>
    <VCardTitle>
      <VLayout
        justify-space-around
        align-center
      >
        <VFlex>
          <VIcon
            small
            class="mr-3"
          >
            cloud
          </VIcon>
          {{ node.name }}
        </VFlex>
        <VMenu
          offset-y
          bottom
          open-on-hover
        >
          <VBtn
            slot="activator"
            icon
            class="mr-0"
          >
            <VIcon>more_vert</VIcon>
          </VBtn>
          <VList>
            <VListTile @click="emitEdit(node)">
              <VListTileTitle>
                Edit
              </VListTileTitle>
            </VListTile>
            <VListTile @click="emitDelete(node)">
              <VListTileTitle>
                Delete
              </VListTileTitle>
            </VListTile>
          </VList>
        </VMenu>
      </VLayout>
    </VCardTitle>
    <VCardText>
      <VLayout justify-space-around>
        <VFlex>
          ID
        </VFlex>
        <VFlex class="text-xs-right">
          {{ node.id }}
        </VFlex>
      </VLayout>
      <VLayout justify-space-around>
        <VFlex>
          Host
        </VFlex>
        <VFlex class="text-xs-right">
          {{ node.host }}
        </VFlex>
      </VLayout>
      <VLayout justify-space-around>
        <VFlex>
          Routes
        </VFlex>
        <VFlex class="text-xs-right">
          {{ node.routes.length }}
        </VFlex>
      </VLayout>
    </VCardText>
  </VCard>
</template>

<script>
export default {
  props: {
    node: {
      type: Object,
      default: () => {}
    }
  },

  methods: {
    emitEdit (node) {
      this.$emit('edit', node)
    },

    emitDelete (node) {
      this.$emit('delete', node)
    }
  }
}
</script>
